/* clear both */
.clear {
  clear: both !important;
}

[v-cloak] {
  display: none !important;
}



/* 页面切换效果*/
.fade-transition {
  transition: opacity .2s ease;
}
.fade-enter, .fade-leave {
  opacity: 0;
}

/* 头像剪裁居中 */
.jcrop-holder {
  margin: 0 auto !important;
}

/* 表单验证错误的颜色 */
.ui.form .field.error input{
  border-color: #FF9090 !important;
}
.ui.form .field.error .editor-toolbar {
  border-color: #FF9090 !important;
  opacity: 1;
}
.ui.form .field.error .editor-toolbar {
  background: #fff6f6;
  border-color: #FF9090;
  opacity: 1;
}
.ui.form .field.error .editor-toolbar a {
  color: #758594 !important;
}
.ui.form .field.error .CodeMirror {
  border-bottom-color: #FF9090 ;
  border-left-color: #FF9090 ;
  border-right-color:#FF9090;
  background: #FDFDFD;
}

.sumbit-errors.errors {
  font-size: .9rem;
}
.sumbit-errors.errors p{
  background-color: #FFACA6;
  margin: 0 0 .5rem;
  padding: 2px;
}
