h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

.blank span{
  display: inline-block;
  font-size: 1.1rem;
  padding: 5px 15px 5px 10px;
  color: rgba(55, 103, 146, 0.69);

}
/*问题和答案*/
.profile-content .item.question-item .views,
.profile-content .item.question-item .answers{
  display: inline-block;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 2px;
  color: #777;
}
.profile-content .item.question-item .answers{
  background-color: #fbeed5;
  color: #619841;
}
.profile-content .item.question-item .views span {
  font-weight: 600;
}
.profile-content .item.question-item .publish-time {
  color: #B1A0A0;
  float:right;
  display: inline-block;
  padding: 5px 15px 5px 0;
  font-size: 1.03rem;
}
.profile-content .item.question-item a.header {
  font-size: 1.1rem;
  font-weight: 400;
  color: #70B991 !important;
  display: inline-block;
  padding: 5px 10px;
}
.profile-content .item.question-item a.header:hover {
  color: #4CB765 !important;
  text-decoration: underline;
}

.ui.basic.button {
  margin: 0 auto;
}
